.containerGrid {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 3fr 3fr;
  max-width: none;
  margin: 10px;
}

/* count */
.col-1-row-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

label {
  width: 80px;
  color: white;
}

h6 {
  text-align: center;
  color: white;
}

.count,
.date {
  display: inline;
  margin-left: 25px;
  color: white;
}

.col-1-row-1 > .count {
  margin-left: 55px;
}

img {
  margin-top: 10px;
}

.col-1-row-1,
.col-2-row-1,
.col-2-row-2,
.easy,
.medium,
.hard,
.col-2-row-3,
.col-1-row-4,
.col-3-row-4,
.col-3-row-1,
#reset {
  background-image: url("gifs/bloodDripping.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

/* title */
.col-2-row-1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 38px;
  color: white;
  font-weight: bold;
}

/* reset button */
.col-3-row-1 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

#reset {
  font-size: 15px;
  /* color: red; */
  width: 125px;
  height: 40px;
  margin-top: 20px;
}

.col-2-row-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: none;
  margin-bottom: none;
}

.level-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 15px;
}

.easy,
.medium,
.hard {
  width: 100px;
  border-radius: 30%;
  border-color: red;
  height: 50px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

.col-2-row-3 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  height: 100%;
  align-content: center;
  /* background-color: rgb(168, 168, 168); */
  margin-top: none;
  margin-bottom: auto;
}

.winLoss {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.col-2-row-4 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.wordtype {
  width: 35px;
  height: 32px;
  font-size: large;
  text-align: center;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  padding-bottom: 10px;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: red;
}

.col-1-row-4 {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  /* background-color: rgb(0, 225, 255); */
}

.col-3-row-4 {
  grid-column: 3/4;
  grid-row: 2 / 5;
  /* background-color: rgb(255, 102, 0); */
}

.col-1-3-row-5 {
  grid-column: 1/4;
  grid-row: 5/6;
  background-image: url("gifs/StarsGif.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.col-1-3-row-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.keyboardLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 25px;
  height: auto;
}

.keyboardbutton {
  box-sizing: border-box;
  line-height: 35px;
  font-size: 22px;
  text-align: center;
  width: 40px;
  color: #555;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
  height: 40px;
  border-color: #f2f2f2;
  border-style: solid;
  text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
  border-width: 1px;
  border-radius: 10px;
  background: -webkit-linear-gradient(
    top,
    #f9f9f9 0%,
    #d2d2d2 80%,
    #c0c0c0 100%
  );
  font-family: sans-serif;
  display: inline-block;
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25),
    -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);
}

.keyboardbutton:hover,
.keyboardbutton:focus {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
    0 2px 35px rgba(#444, 0.3), 2px 2px 4px rgba(#444, 0.25),
    -2px 2px 4px rgba(#444, 0.25), 0 7px 4px rgba(#444, 0.1);
  transform: translateY(2px);
}

.keyboardbutton:active {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
    0 0px 30px rgba(#444, 0.15), 2px 2px 4px rgba(#444, 0.25),
    -2px 2px 4px rgba(#444, 0.25), 0 0px 4px rgba(#444, 0.25);
  transform: translateY(4px);
}

p.wordtype span {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeIn 0.5s ease-out forwards;
  display: inline-block;
}

p.wordtype span:nth-of-type(2) {
  animation-delay: 0.5s;
}

p.wordtype span:nth-of-type(3) {
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
